{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid h-100 p-0">
        <div class="row h-100 overflow-hidden">
            <div class="col-1 p-0 bg-light shadow" style="z-index: 1">
                <div class="nav flex-column nav-pills" id="v-exo-tab" role="tablist" aria-orientation="vertical">
                    {% for exo in exo_sqls %}
                        <a class="nav-link {% if loop.first %}active{% endif %}" id="exo-sql-{{ loop.index }}-tab" data-toggle="pill"
                           href="#exo-sql-{{ loop.index }}" role="tab"  data-value="{{ exo.id }}" aria-controls="exo-sql-{{ loop.index }}" aria-selected="true">Exercice
                            N°{{ loop.index }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-8 p-0 ">
                {# TODO: DIAGRAM #}
                <div class="row align-items-center bg-white shadow " style="min-height: 50%!important;">
                    {% include 'sql-editor/form.html.twig' %}
                </div>
                <div class="row h-50 bg-white bg-logo m-0">
                    {% include 'sql-editor/results.html.twig' %}
                </div>
            </div>
            <div class="col-3 p-0">
                <div class="container-fluid p-3 bg-light shadow h-100" id="right-pane"
                     style="max-height:calc(100vh - 78px);overflow-y: auto">
                    <h4 class="pt-3"><i class="fas fa-history text-warning small"></i> Historique</h4>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        const storage = window.localStorage;
        storage.clear();

        function sendRequest(t, duplicate = null) {
            let container = t.parent().parent();
            let req = container.find('[name="request"]').val();
            //Check si la requête à chanée ou si elle est vide
            if (!checkLastReq(req) || req.trim() === '') return;
            //Ajax -> PHP -> SQL
            $.post("{{ path('r_exec') }}", {
                request: req,
                exo: $('.nav-link.active').attr('data-value')
            }, function (data) {
                checkResult(data.win);
                let thead = $('#table-header');
                let tbody = $('#table-body');
                thead.html('');
                tbody.html('');
                if (data.response) {
                    let cols = Object.keys(data.response[0]);
                    for (let i = 0; i < cols.length; i++) {
                        let colName = cols[i];
                        thead.append(' <th scope="col" class="bg-light">' + colName + '</th>');
                    }
                    for (let j = 0; j < data.response.length; j++) {
                        let rows = Object.values(data.response[j]);
                        tbody.append('<tr id="row' + j + '" ></tr>');
                        for (let k = 0; k < rows.length; k++) {
                            $('#row' + j).append('<td style="overflow: hidden; text-overflow: ellipsis">' + rows[k] + '</td>');
                        }
                    }
                    bgResult = 'bg-success';
                } else {
                    bgResult = 'bg-danger';
                    thead.append(' <th scope="row" class="bg-danger" style="width: 100vw"><i class="fas fa-exclamation-triangle text-warning"></i> &nbsp; ' + data.error + '</th>');
                }
                //On ajoute un bloc a l'historique uniquement si la requête est différente de la précèdente
                if (!duplicate && checkLastReq(req)) {
                    let savedRequest = container.clone();
                    savedRequest.find('.exercice').remove();
                    savedRequest.find('h4').remove();
                    savedRequest.find('hr').remove();
                    savedRequest.find('.form-req').toggleClass('col-6 col-12');
                    savedRequest.find('button.req-submitter').attr('onclick', 'sendRequest($(this),true)').append(' de nouveau');
                    savedRequest.find('textarea').attr('readonly', 'true').html(container.find('[name="request"]').val());
                    savedRequest.find('button.req-deleter').removeAttr('hidden');
                    $('#right-pane').append('<div class="rounded progress-bar-striped col-12 pt-3 pb-3 sql-form-ctn ' + bgResult + '">' + savedRequest.html() + '</div><hr>').find('textarea').click(function () {
                        copyToClipboard($(this))
                    });
                }
                saveLastReq(req);
            });
        }

        function saveLastReq(req) {
            storage.setItem('lastReq', req);
        }

        function checkLastReq(req) {
            return storage.getItem('lastReq') !== req;
        }

        function deleteReqFromHistory(e) {
            let elem = e.parent().parent('.sql-form-ctn');
            let req = elem.find('[name="request"]').val();
            if (!checkLastReq(req)) {
                storage.clear();
            }
            elem.next('hr').remove();
            elem.remove();
        }

        function copyToClipboard(element) {
            let textZone = element.parent().parent().parent();
            textZone.addClass('copied');
            setTimeout(function () {
                textZone.removeClass('copied');
            }, 500);
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }

        function checkResult(w) {
            if(w) {
                $('#overlay-win').removeClass('d-none').fadeOut(2000);
                setTimeout(function () {
                    $('#overlay-win').addClass('d-none').fadeIn();
                },2000);
                $('.nav-link.active').removeClass('active').next('.nav-link:not(".active")').addClass('active');
                $('.tab-pane.show.active').removeClass('show active').next('.tab-pane:not(".show.active")').addClass('show active');
            }
        }
    </script>
{% endblock %}