{% extends 'base.html.twig' %}
{% block body %}
    <div class="row align-items-center h-100">
        <div class="col-9  m-auto text-center p-3 bg-light border shadow rounded">
            <div class="row align-items-center">
                <div class="col-2">
                    <h4 class="text-center m-5">{{ quiz.theme.icon|raw }}</h4>
                </div>
                <div class="col p-5">
                    <div class="tab-content" id="v-pills-tabContent">
                        {% for question in quiz.questions %}
                            <div class="tab-pane fade{% if loop.first %}  show active{% endif %}"
                                 id="v-pills-{{ question.id }}" role="tabpanel"
                                 aria-labelledby="v-pills-{{ question.id }}-tab">
                                <h4 class="text-black-50">{{ question.label }}</h4>
                                <div class="row mt-5">
                                    {% for choice in question.choices %}
                                        <div class="col-6">
                                            <button class="btn btn-lg btn-warning btn-quiz-choice"
                                                    value="{{ choice.value }}">{{ choice.label }}</button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        class Quiz {
            constructor() {
                let bz = this;
                let choice = $('.btn-quiz-choice');
                bz.responses = [];
                choice.on('click',function () {
                    bz.responses.push(this.value);
                    if(!bz.notLast())
                    {
                        $('.tab-pane.show.active').toggleClass('show active').next('.tab-pane').toggleClass('show active');
                        console.log(bz.responses);
                    }
                   else{
                        alert('finished !');
                        choice.off('click')
                    }
                });
                bz.notLast = function () {
                    console.log("{{ quiz.questions|length }}");
                    return bz.responses.length === {{ quiz.questions|length }};
                }
            }
        }
        let x = new Quiz();
    </script>
{% endblock %}