<div class="p-3 bg-light rounded">
    <div class="tab-content" id="v-pills-tabContent">
        {% for exo in theme.exercices %}
            <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="exo-sql-{{ loop.index }}"
                 role="tabpanel"
                 aria-labelledby="exo-sql-{{ loop.index }}-tab">
                <div class="container-fluid">
                    <div class="row align-items-center h-100">
                        <div class="col-12">
                            <h5><i class="fas fa-graduation-cap text-warning"></i> Exercice N°{{ loop.index }}</h5>
                            <hr>
                            <p class="text-black-50">{% if loop.first %}{{ theme.intro ? theme.intro|raw : 'C\'est parti !' }}{% else %}Bien joué ! #next {% endif %}</p>
                            <h5><i class="fas fa-bullseye text-warning small"></i> Objectif:</h5>
                            <p class="text-black-50">{{ exo.objectif }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h5><i class="fas fa-lightbulb text-warning small"></i> Rappel:</h5>
                <p class="text-black-50">{{ theme.rappel ? theme.rappel|raw : '' }}</p>
                <span class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="right"
                      title="<img src='{{ asset('img/villedb.png') }}' width='98%'/>"><i class="fas fa-database"></i> Villes</span>&nbsp;
                <span class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="right"
                      title="<img src='{{ asset('img/villedb.png') }}' width='98%'/>"><i class="fas fa-database"></i> Départements</span>
            </div>
        </div>
    </div>
</div>