{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="row p-5 bg-white h-100">
        {#<div class="col-2 p-0">
            <img src="https://via.placeholder.com/300x400" alt="" width="100%">
            <div class="col-12 shadow bg-light p-3">
                <h5>{{ app.user.firstname }}</h5>
                <p class="text-black-50 small">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
                </p>
                <div class="row">
                    <div class="col-12 text-center">
                        <h5>Cours terminé(s)</h5>
                        <i class="fas fa-trophy text-warning fa-4x">{{ app.user.trophies|length }}</i>
                    </div>
                </div>
            </div>
        </div>#}
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <h1><i class="fas fa-graduation-cap text-warning"></i> Les cours</h1>
                    <hr>
                </div>
                {% for theme in themes %}
                    {% for cours in theme.cours %}
                  <div class="col bloc-cours mb-3" data-cours="{{ path('student_cours',{x:(cours.titre|lower)|replace({' ':'-'})}) }}">
                            <div class="col-12 rounded shadow p-3 bg-light text-center h-100">
                                {{ theme.icon|raw }}
                                <h6 class="mt-2 text-black-50" style="font-weight: 600">{{ cours.titre}}</h6>
                            </div>
                        </div>
                    {% else %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <h1><i class="fas fa-tools text-warning"></i> Les exercices</h1>
                    <hr>
                </div>
                {% for theme in themes %}
                    {% if (app.user.hasTrophy(theme.code) is null and theme.exercices|length > 0) %}
                        <div class="col bloc-theme mb-3" data-theme="{{ path('student_exos',{code:theme.code}) }}">
                            <div class="col-12 rounded shadow p-3 bg-light text-center">
                                {{ theme.icon|raw }}
                                <h6 class="mt-2 text-black-50" style="font-weight: 600">{{ theme.label }}</h6>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <h1><i class="fas fa-question text-warning"></i> Les Quiz</h1>
                    <hr>
                </div>
                {% for theme in themes %}
                    {% for quiz in theme.quizzes %}
                        <div class="col bloc-theme mb-3" data-theme="{{ path('student_quiz',{x:(quiz.title|lower)|replace({' ':'-'})}) }}">
                            <div class="col-12 rounded shadow p-3 bg-light text-center">
                                {{ theme.icon|raw }}
                                <h6 class="mt-2 text-black-50" style="font-weight: 600">{{ quiz.title }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        class Dashist {
            constructor() {
                let bz = this;
                bz.exos = $('.bloc-theme');
                bz.exos.on({
                    'click': function () {
                        window.location.href = $(this).attr('data-theme');
                    }
                });
                bz.cours = $('.bloc-cours');
                bz.cours.on({
                    'click': function () {
                        window.location.href = $(this).attr('data-cours');
                    }
                });
            }
        }
        const dash = new Dashist();
        $('body').removeClass('overflow-hidden');

    </script>
{% endblock %}